{% extends 'base.html' %}

{% block title %}Donate{% endblock title %}

{% block body %}
<style>
    body{
      background: #f4f4f4;
    }
    
    
  

  </style>

<div class="shadow p-4 mb-5 bg-body rounded">
<h2  class="text-center">
    Your one drop of blood can give a new life to someone!
</h2>
   
    <div class="con">
    <form method="post" action="/donate">
        {% csrf_token %}
            <div class="form-group">
                <label for="name" id="txt"></label>
                <input type="text" class="form-control" id="name" name="name" required placeholder="Eneter Your name">
            </div>
            <div class="form-group">
                <label for="email" id="txt" ></label>
                <input type="email" class="form-control" id="email" name="email" required placeholder="Enter your Email">
            </div>
            <div class="form-group">
                <label for="phone" id="txt"></label>
                <input type="phone" required class="form-control" id="phone" name="phone"
                    placeholder="Enter your Contact-Number">
            </div>    
            <div class="form-group">
                <label for="desc" id="txt"></label>
                <textarea class="form-control" id="desc" name="desc" rows="3" required
                    placeholder="Please! Explain why you want to donate blood..."></textarea>
            </div>
            <br><br>

            <button class="btn btn-secondary" type="submit" id="btn">Submit</button>
    </form>
</div>

</div>









{% endblock body %}