{% extends 'base.html' %}
{% block title %}Home{% endblock title %}

{% block body %}

<style>
  *{
    margin: 0;
    padding: 0;
  }
  input[type=submit]{
    background-image: rgb(174, 174, 226);
    margin-top: 10px;
    font-size: inherit;
    border-radius: 10px;
    color: #fff;
    background-color: #828588;
    width: 20vw;
    padding: 10px;
    outline: none;
    cursor: pointer;
  }
  body{
    background-image: url(/static/images/13th.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 150;
  }

  #home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;

  }
  #home::before{
    content: "";
    position: absolute;
    background-image: url(/static/images/1st.webp);
    height: 100%;
    width: 103%;
    z-index: -1;
    opacity: 0.89;
    background-size: cover;
  }
  .h-primary{
    font-size: 2.8rem;
    margin-top:-3vh
  }
  #home h1{
    color: white;
    text-align: center;
  }
#home p{
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
#h5{
  color:white;
  font-size: 1.5rem;
}
#P{
  color: white;

}

</style>
</head>

<body>
  <div class="container my-4">
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="/static/images/3rd.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 id="h5">Describe Your Self</h5>
            <p id="P">If you are not comitted with your dream you goal is like a fansi desire.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/static/images/13th.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 id="h5">Don't Play With Your Life</h5>
            <p id="P">Don't forget who you are & you become.Put your pain in to your progress</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/static/images/4th.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5 id="h5">Bear the pain of Dicpline or the pain of regret</h5>
            <p id="P">Don't let the people to play with you with your dreams and How can you wate a one seconed that could not progress for your dream </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
<section id="home">
<h1 class="h-primary">Wellcom To Health Prediction System</h1>
<p>Welcome to our Health Prediction System website! We are a team of healthcare professionals and data scientists dedicated to improving the lives of those living with diabetes through accurate prediction and proactive management</p>
<p>Let we predict us your diabetes</p>

  <form action="predict">
    <input type="submit" value="Lets! Get Started">
  </form>
  
</section>
</body>



{% endblock body %}