{% extends 'base.html' %}

{% block title %}Prediction{% endblock title %}
{% block body %}

{% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Your Result is: <h4>{{ result2 }}</h4></strong> 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
          {% endfor %}
      {% endif %}

<style>
    body{
      background: #f4f4f4;
    }
    

</style>
<div class= "shadow p-4 mb-5 bg-body rounded">


<div align="center" class="main">
    <h1 id="h1">
        Please Enter some information about your health:
    </h1>
<br>
    
    <!-- <form method="post"> -->
    {% if submitted %}
     Your Resport Was Saved! You can Check.... 
    {% else %}
    <form action="result" method="get">  
    {% csrf_token %}    

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pregnancies</span>
        <input type="text" required name="n1" class="form-control" placeholder="Please! Enter Pregnancies you contain" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <input type="text" required name="n2" class="form-control" placeholder="Enter Your Random Blood Glucose Level! " aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Glucose Level</span>
      </div>
      
      <div class="mb-3">
        
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3">Blood Pressure</span>
          <input type="text" required name="n3" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4">
        </div>
        
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text">Skin Thickness </span>
        <input type="text" required name="n4" class="form-control" aria-label="Amount (to the nearest dollar)">
        <span class="input-group-text">Normally Which is 0.6mm to 3.30mm</span>
      </div>
      
      <div class="input-group mb-3">
        <input type="text" required name="n5" class="form-control" placeholder="Blood Insulin" aria-label="Username">
        <span class="input-group-text">Eneter Your Normall Blood Insulin Level</span>
        <input type="text" required name="n6" class="form-control" placeholder="Enter Your BMI" aria-label="Server">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Diabetes Pedigree Function</span>
        <input type="text" required name="n7" class="form-control" placeholder="Please! Enter Diabetes Pedigree Function" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Age</span>
        <input type="text"required name="n8" class="form-control" placeholder="Please! Enter Your Age " aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
       
        
    <br>
    <div id="{{result2}}"></div>
    <button type="submit" class="btn btn-primary" id="liveAlertBtn">Submit</button>
</div>
    
</form>
</form>
{% endif %}
</div>
{% endblock body %}




